.type-bg-normal { background-color: #a8a878; }
.type-bg-fire { background-color: #e8442c; }
.type-bg-water { background-color: #4f92f0; }
.type-bg-electric { background-color: #f2c12e; }
.type-bg-grass { background-color: #6cc04a; }
.type-bg-ice { background-color: #74cec0; }
.type-bg-fighting { background-color: #c03028; }
.type-bg-poison { background-color: #a040a0; }
.type-bg-ground { background-color: #d4b05c; }
.type-bg-flying { background-color: #8f9fe8; }
.type-bg-psychic { background-color: #f05888; }
.type-bg-bug { background-color: #a8b820; }
.type-bg-rock { background-color: #b8a038; }
.type-bg-ghost { background-color: #705898; }
.type-bg-dragon { background-color: #7038f8; }
.type-bg-dark { background-color: #705848; }
.type-bg-steel { background-color: #8fa4b8; }
.type-bg-fairy { background-color: #ee99ac; }